@if (todo()) {
  <mat-card class="todo-card">
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <p matListItemTitle>{{ todo().owner }} - {{ todo().category }}</p>
          </mat-list-item>
          <mat-divider [inset]=true></mat-divider>
         <mat-list-item>
            <p matListItemTitle> Completed Status: {{ todo().status }}</p>
          </mat-list-item>
          <!--
          <mat-divider [inset]=true></mat-divider>
          <mat-list-item>
            <p matListItemLine>{{ todo().body }}</p>
          </mat-list-item>
          -->
          <!-- <mat-list-item>


             Come back to this! (Still doesn't work) :/
            @if (todo().status) {
              <p matListItemTitle>☑ - {{ todo().owner }}</p>
            }
            @else {
              <p matListItemTitle> ☒ - {{ todo().owner }}</p>
            }


          </mat-list-item> -->
          <mat-divider [inset]=true></mat-divider>
        </mat-list>
      </mat-card-content>
  </mat-card>
}
